@media screen and (max-width: 575.99px) {
    .template-title {
        font-size: min(12vw, 48px);
    }

    .banner {
        .banner-line  {
            bottom: -13vw;
            right: -5vw;
        }

        .banner h1 {
            font-size: min(12vw, 48px);
        }
    }

    .swiper-navigaton {
        max-width: 410px;
    }
}

.product {
    padding: 38px 20px 22px;
    max-width: 184px;

    &__img {
        --size: 120px;
        width: var(--size);
        height: var(--size);

        img {
            width: 120px;
            height: 160px;
        }
    }

    &__title,
    &__price {
        font-size: 22px;
    }

    &__description,
    &__volume {
        font-size: 14px;
    }

    .btn {
        padding: 12px 23px;
        font-size: 12px;
    }
}
