///fonts///
$font-primary: 'Montserrat';
$font-size: 16px;

///colors///
$primary-color: #237249;
$secondary-color: #35C66B;

$title-color: #fff;
$text: #D9D9D9;
$bg-accent-color: #080C0D;
$bg-color: #121517;

@mixin template-light {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: center/contain no-repeat;
    z-index: -1;
}

.white-section {
    background: linear-gradient(230deg, #fff 3.94%, #e5e5e5 64.08%, #fbfbfb 88.62%);
    h1, h2, h3, h4, h5, h6 {
        color: #121517;
    }
}