<div class="container">
    <h1 class="fw-300">Hellow, I am first screen</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur illo maiores doloremque enim! Unde tempore nisi obcaecati temporibus rem aut fugit aperiam porro. Quas porro dignissimos excepturi nulla repellendus dolore eaque nam aut ipsam architecto, odit, quia tempora sit consequuntur vitae numquam id tempore laboriosam libero nobis harum reiciendis! Debitis?
    </p>
    <h1 class="fw-400">Hellow, I am first screen</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur illo maiores doloremque enim! Unde tempore nisi obcaecati temporibus rem aut fugit aperiam porro. Quas porro dignissimos excepturi nulla repellendus dolore eaque nam aut ipsam architecto, odit, quia tempora sit consequuntur vitae numquam id tempore laboriosam libero nobis harum reiciendis! Debitis?
    </p>
    <h1 class="fw-500">Hellow, I am first screen</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur illo maiores doloremque enim! Unde tempore nisi obcaecati temporibus rem aut fugit aperiam porro. Quas porro dignissimos excepturi nulla repellendus dolore eaque nam aut ipsam architecto, odit, quia tempora sit consequuntur vitae numquam id tempore laboriosam libero nobis harum reiciendis! Debitis?
    </p>
    <h1 class="fw-600">Hellow, I am first screen</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur illo maiores doloremque enim! Unde tempore nisi obcaecati temporibus rem aut fugit aperiam porro. Quas porro dignissimos excepturi nulla repellendus dolore eaque nam aut ipsam architecto, odit, quia tempora sit consequuntur vitae numquam id tempore laboriosam libero nobis harum reiciendis! Debitis?
    </p>
    <h1 class="fw-800">Hellow, I am first screen</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur illo maiores doloremque enim! Unde tempore nisi obcaecati temporibus rem aut fugit aperiam porro. Quas porro dignissimos excepturi nulla repellendus dolore eaque nam aut ipsam architecto, odit, quia tempora sit consequuntur vitae numquam id tempore laboriosam libero nobis harum reiciendis! Debitis?
    </p>
</div>