<div id="process" class="modal">
    <div data-modal-close>x</div>
    <div class="modal-content">
        <h2>Process</h2>
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, unde? Debitis corrupti quod culpa nobis sed accusantium doloremque deleniti rem placeat quia quam voluptatem distinctio aut voluptatum temporibus ducimus, delectus harum eos dolorum architecto? Eos ullam id saepe ea fugit distinctio earum, accusamus, possimus aperiam obcaecati illo nulla voluptate. Ipsam.
    </div>
    <button class="btn btn-secondary" data-modal-close>close</button>
</div>

<div id="feedback" class="modal">
    <div class="modal-content">
        <h2>feedback</h2>
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, unde? Debitis corrupti quod culpa nobis sed accusantium doloremque deleniti rem placeat quia quam voluptatem distinctio aut voluptatum temporibus ducimus, delectus harum eos dolorum architecto? Eos ullam id saepe ea fugit distinctio earum, accusamus, possimus aperiam obcaecati illo nulla voluptate. Ipsam.
    </div>
    <button class="btn btn-secondary" data-modal-close>close</button>
</div>


   <div id="qwerty" class="modal">
    <div class="modal-content">
        <h2>qwerty</h2>
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, unde? Debitis corrupti quod culpa nobis sed accusantium doloremque deleniti rem placeat quia quam voluptatem distinctio aut voluptatum temporibus ducimus, delectus harum eos dolorum architecto? Eos ullam id saepe ea fugit distinctio earum, accusamus, possimus aperiam obcaecati illo nulla voluptate. Ipsam.
    </div>
    <button class="btn btn-secondary" data-modal-close>close</button>
   </div>
