<section class="products">
  <div class="container">
      <div class="products__content-box">
          <h2 class="template-title">New Our <span class="gradient-text">Products</span></h2>
          <h6 class="template-description">Have time to buy the most harmonious drinks in the new Starbucks coffee and don't forget about the discount!  Starbucks coffee and don't forget about the discount!</h6>
      </div>
     
  </div>
  <div class="carousel-wrapper">
    <div class="swiper swiper-product">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="product">
                    <div class="product__img">
                        <img src="./assets/img/product-1.png" alt="coffee">
                    </div>
                    <h3 class="product__title">Fast</h3>
                    <h6 class="product__description">Our cafe will serve you quickly</h6>
                    <div class="product__value">
                        <div class="product__price">7,45$</div>
                        <div class="product__volume">110 ml</div>
                    </div>
                    <a href="#" class="btn btn-primary">Buy Product</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product">
                    <div class="product__img">
                        <img src="./assets/img/product-2.png" alt="coffee">
                    </div>
                    <h3 class="product__title">Latte</h3>
                    <h6 class="product__description">Our cafe will serve you quickly</h6>
                    <div class="product__value">
                        <div class="product__price">8,25$</div>
                        <div class="product__volume">350 ml</div>
                    </div>
                    <a href="#" class="btn btn-primary">Buy Product</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product">
                    <div class="product__img">
                        <img src="./assets/img/product-3.png" alt="coffee">
                    </div>
                    <h3 class="product__title">Flat white</h3>
                    <h6 class="product__description">Our cafe will serve you quickly</h6>
                    <div class="product__value">
                        <div class="product__price">9,50$</div>
                        <div class="product__volume">330 ml</div>
                    </div>
                    <a href="#" class="btn btn-primary">Buy Product</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product">
                    <div class="product__img">
                        <img src="./assets/img/product-4.png" alt="coffee">
                    </div>
                    <h3 class="product__title">Cappuccino</h3>
                    <h6 class="product__description">Our cafe will serve you quickly</h6>
                    <div class="product__value">
                        <div class="product__price">8,25$</div>
                        <div class="product__volume">350 ml</div>
                    </div>
                    <a href="#" class="btn btn-primary">Buy Product</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product">
                    <div class="product__img">
                        <img src="./assets/img/product-2.png" alt="coffee">
                    </div>
                    <h3 class="product__title">Americano</h3>
                    <h6 class="product__description">Our cafe will serve you quickly</h6>
                    <div class="product__value">
                        <div class="product__price">7,25$</div>
                        <div class="product__volume">150 ml</div>
                    </div>
                    <a href="#" class="btn btn-primary">Buy Product</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product">
                    <div class="product__img">
                        <img src="./assets/img/product-3.png" alt="coffee">
                    </div>
                    <h3 class="product__title">Espresso</h3>
                    <h6 class="product__description">Our cafe will serve you quickly</h6>
                    <div class="product__value">
                        <div class="product__price">5,50$</div>
                        <div class="product__volume">45 ml</div>
                    </div>
                    <a href="#" class="btn btn-primary">Buy Product</a>
                </div>
            </div>
        </div>
    </div>
   <div class="swiper-navigaton">
     <div class="swiper-button-prev btn btn-outline">
        <svg>
            <use href="#icon-arrow">
            </use>
        </svg>
    </div>
    <div class="swiper-button-next btn btn-outline">
        <svg>
            <use href="#icon-arrow">
            </use>
        </svg>
    </div>
   </div>
</div>
</section>